/* 

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 270px;
  height: 100vh;
  background: #111;
  color: #fff;
  padding: 20px;
  z-index: 1001;

  transform: translateX(-100%);
  transition: transform 0.3s ease;
  overflow-y: auto;
}

.mobile-nav.active {
  transform: translateX(0);
}

/* Close button */
/* .menu-close {
  background: #1e5eff;
  color: #fff;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 8px;
  font-size: 22px;
  cursor: pointer;
  margin-bottom: 20px;
} */

/* Links */
/* .mobile-nav nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav nav ul li {
  margin-bottom: 15px;
}

.mobile-nav .nav-link {
  display: flex;
  align-items: center;
  gap: 12px;

  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 14px 16px;
  border-radius: 12px;
  background: #2b2b2b;
  transition: background 0.3s ease;
}

.mobile-nav .nav-link:hover {
  background: #3a3a3a;
}

.mobile-nav .nav-link.active {
  background: #333;
  color: #ffd700; */
/* } */

/* Overlay */
/* .sidebar-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.sidebar-overlay.active {
  opacity: 1;
  visibility: visible;
} */

/* Toggle button */
/* .menu-toggle {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
} */

/* Mobile only */
/* @media (max-width: 991px) {
  .menu-toggle {
    display: block;
  }
} */

/* Desktop: hide sidebar */
/* @media (min-width: 992px) {
  .mobile-nav,
  .sidebar-overlay,
  .menu-toggle {
    display: none !important;
  }
}

 */ 
